@import 'tailwindcss';
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #ffffff;
  --foreground: #171717;
  scrollbar-width: thin;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-spectral: var(--font-spectral);
  --font-inter: var(--font-inter);
  --font-inder: var(--font-inder);

  --color-primary: #f8bbd0;
  --color-secondary: #4e5180;
  --color-secondary-1: #4e5180;
  --color-secondary-2: #9b89b3;
  --color-secondary-3: #f0b640;

  --color-neutral: #fffcf7;
  --color-neutral-1: #f5f2ef;
  --color-neutral-2: #e0dfdf;
  --color-neutral-3: #c1c2c7;
  --color-neutral-4: #acaeb7;
  --color-neutral-5: #828896;
  --color-neutral-6: #6d7486;
  --color-neutral-7: #596176;
  --color-neutral-8: #444d66;
  --color-neutral-9: #2f3a56;
  --color-neutral-10: #2a344d;
  --color-neutral-11: #1b1a21;

  --color-success-1: #28806f;
  --color-success-2: #40c4aa;
  --color-success-3: #9ee1d4;
  --color-success-4: #ddf3ef;

  --color-warning-1: #966422;
  --color-warning-2: #ffbe4c;
  --color-warning-3: #fcda83;
  --color-warning-4: #ffefc9;

  --color-error-1: #96132c;
  --color-error-2: #df1c41;
  --color-error-3: #ed8296;
  --color-error-4: #fadbe1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heading-56 {
  font-family: var(--font-spectral);
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 110%;
  letter-spacing: 0.06;
}

.heading-54 {
  font-family: var(--font-spectral);
  font-weight: 600;
  font-size: 3.375rem;
  line-height: 110%;
  letter-spacing: 0.06;
}

.heading-40 {
  font-family: var(--font-spectral);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0.06;
}

.heading-32 {
  font-family: var(--font-spectral);
  font-weight: 600;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.04;
}

.heading-28 {
  font-family: var(--font-spectral);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 110%;
  letter-spacing: 0.04;
}

.subtitle-22 {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 160%;
}

.subtitle-20-medium {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: 0;
}

.subtitle-20-regular {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: 0;
}

.body-18-semi {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 130%;
  letter-spacing: 0;
}

.body-18-regular {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0;
}

.body-16-semi {
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0;
}

.body-16-regular {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0;
}

.caption-14-bold {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0;
}

.caption-14-regular {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0;
}

.caption-14-semi {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0;
}

.display {
  font-family: var(--font-spectral), serif;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.06;
}

/* Font family utility classes */
.font-spectral {
  font-family: var(--font-spectral), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-inder {
  font-family: var(--font-inder), sans-serif;
}
